table{
    border: 5px;
}

thead {
    font-weight: bold;
    border: 1px solid black;
}

.tableLevelOne{
    border: 3px solid black;
    width: auto;
}

.tableLevelTwo{
    border: 2px solid grey;
    width: auto;
}

.tableLevelThree{
    border: 1px solid darkgrey;
    width: auto;
}